:root{
  --mainSky: #D9ECF2;
  --mainHotPeach:#ff414d;
  --mainHotBlue: #1aa687;
  --mainDark: #002d40;
  --mainPeach:#F97173;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App .nav{
  background-color:var(--mainDark);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Inria Serif', sans-serif;
}

.App .page-footer{
  background-color: var(--mainDark);
}

#search{
  border-bottom: none;
}

#searchBar{
  margin: 0vw 25vw;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ffffff;
  border-radius: 0.5rem;
  border-left: 0 solid #ef5350;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

#searchBar:hover {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #ef5350;
}

#bookCategories .tab :hover{
  background-color: #002d40;
}

@media screen and (max-width: 670px){
  .App .nav .material-icons{
    display: none;
  } 
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  
  .App .welcome { 
    margin: 0; 
  } 
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
  }

